<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nova5_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import nova5_robot urdf file -->
    <xacro:include filename="$(find dobot_rviz)/urdf/nova5_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="nova5_robot.ros2_control.xacro" />


    <xacro:nova5_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
